<div class="page-header"><h1>Register</h1></div>

<%= form_for @user do |f| %>
  <%= render 'shared/errors', object: @user %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>

    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>

    <%= f.label :user_type %>
    <%= f.select(:user_type, User.user_types.to_a.map { |w| [w[0].humanize, w[0]] }, {}, {class: 'form-control'} )%>

  </div>

  <%= f.submit 'Register', class: 'btn btn-primary btn-lg' %>
<% end %>